body{
    font-family:"Source Sans 3";
}

.container{
    width: 1100;
    margin: 45px auto;
    background: rgb(255, 255, 255);
    padding: 35px 40px;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

nav a,
.producto h3,
.instagram h2,
.contáctanos button,
.instagram p,

strong{
    font-family: "Montserrat";
    font-weight:700;
}

.header-right,
.lang,
.product p,
.info p,
.right p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.contáctanos button {
    margin-top: 20px;
    background: #0b56b7 !important;
    color: white !important;
    height: 50px;
    width: 225px;
    font-size: 25px;
    appearance: none;
    -webkit-appearance: none;

    border: none;
    box-shadow: none;
    outline: none;
}

.ptblogo img {
    width:150px;
    margin-left: 15px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav a {
    position: relative;
    display: inline-block;
    color: #222;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 8px 0;
    transition: color 0.3s ease;
}


nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #0b56b7;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}


nav a:hover {
    color: #0b56b7;
}

nav a:hover::after {
    width: 100%;
}

.header-right{
    display: flex;
    margin-right: 45px; 
}

main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.products{
    width: 180px;
}

.product img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-color: #ffffff;
}

.product h3{
    margin-top: 12px;
    font-size: 22px;
    font-weight: 400;
}

.product p{
    margin-top: 8px;
    color: #444;
    font-size: 17px;
}

.instagram{
    width: 300px;
    text-align: center;
}

.instagram h2{
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 18px;
}

.instagram img{
    width: 100%;
    margin-bottom: 18px;
}

.instagram p{
    text-align: left;
    margin-bottom: 35px;
    font-size: 17px;
}

.contáctanos{
    background-image: url("/images/ptbblueoverlaycrop.png");
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.left{
    width: 100%;
    background-image: url("/images/ptbblueoverlaycrop.png");
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 35px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.right{
    width: 45%;
}

.info p,
.right p{
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 18px;
}

.fa-phone,
.fa-envelope,
.fa-location-dot{
    color:#ffffff;
    font-size: 28px;
    width: 35px;
    margin-right: 10px;
}

.info p{
    margin: 20px 0 5px 15px;
    gap: 600px;
    font-size: 18px;
}

.label{
    font-weight: bold;
    font-family: "Montserrat";
}

a{
    color:#111;
}

a:hover{
    color:#0b56b7;
}

.email{
    font-size: 18px;
}

@media(max-width:1200px){
    .container{
        width: 95%;
    }
}

@media(max-width:991px){
    header{
        flex-direction: column;
        gap: 20px;
    }
    main{
        flex-direction: column;
    }
    .products{
        justify-content: center;
        flex-wrap: wrap;
    }
    .instagram{
        width: 100%;
    }
    .contact{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
    }
}

@media(max-width:600px){
    nav ul{
        flex-direction: column;
        width: 100%;
    }
    nav a{
        text-align: center;
    }
    .products{
        width: 280px;
    }
    .product img{
        height: 220px;
    }
    .instagram h2{
        font-size: 28px;
    }
    .contáctanos button {
        background: #0b56b7 !important;
        color: white !important;
        border: 5px solid lime !important;
}
    .info p,
    .right p{
        font-size: 16px;
    }
}
